@media (min-width: 319px) and (max-width: 331px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 100% 17%, 100% auto;
        background-position-y: 0, 100%
    }

    .mainTitle {
        color: white;
    }

    .mainDescription {
        color: white;
    }

    .downloadBtns {
        align-items: center;
    }

    .logoTitle {
        font-size: 1rem;
    }
}

@media (min-width: 331px) and (max-width: 454px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 100% 17%, 100% auto;
        background-position-y: 0, 100%
    }

    .mainTitle {
        color: white;
    }

    .mainDescription {
        color: white;
    }

    .downloadBtns {
        align-items: center;
    }

    .logoTitle {
        font-size: 1rem;
    }
}

@media (min-width: 401px) and (max-width: 469px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 100% 18%, 100% auto;
        background-position-y: 0, 103%
    }

    .mainTitle {
        color: white;
    }

    .mainDescription {
        color: white;
    }

    .downloadBtns {
        align-items: center;
    }

    .logoTitle {
        font-size: 1rem;
    }
}

@media (min-width: 470px) and (max-width: 499px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 100% 18%, 100% auto;
        background-position-y: 0, 105%
    }

    .mainTitle {
        color: white;
    }

    .mainDescription {
        color: white;
    }

    .downloadBtns {
        align-items: center;
    }

    .logoTitle {
        font-size: 1rem;
    }
}

@media (min-width: 500px) and (max-width: 589px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 180%;

    }

    .mainTitle {
        color: white;
    }

    .mainDescription {
        color: white;
    }

    .downloadBtns {
        align-items: center;
    }

    .logoTitle {
        font-size: 1rem;
    }
}

@media (min-width: 590px) and (max-width: 684px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 175%;

    }

    .mainTitle {
        color: white;
    }

    .mainDescription {
        color: white;
    }

    .downloadBtns {
        align-items: center;
    }

    .logoTitle {
        font-size: 1rem;
    }
}

@media (min-width: 685px) and (max-width: 767px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 150%;

    }

    .mainTitle {
        color: white;
    }

    .mainDescription {
        color: white;
    }

    .downloadBtns {
        align-items: center;
    }

    .logoTitle {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 891px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 200%;
    }

    .twitterImgs {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 892px) and (max-width: 992px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 175%;
    }

    .twitterImgs {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 993px) and (max-width: 1023px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 150%;
    }
}

@media (min-width: 768px) and (max-width: 934px) {
    .middleDescription p {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 1300px;
    }

    .subscribe {
        border-radius: 10px;
        background: #ffffff;
    }

    .navbar {
        margin-top: 1rem;
        margin-left: 2%;
        display: inline-block;
        width: 30%;
        height: 7.3rem;
    }

    .logo {
        width: 10rem;
        height: 6rem;
        margin-top: 2rem;
        float: left;
        position: absolute;
    }

    .logoTitle {
        color: white;
        font-family: Nunito, sans-serif;
        font-weight: 500;
        font-size: 3em;
        position: left;
        margin-top: 60px;
    }

    .logoDescription {
        color: white;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 1.25rem;
    }

    .header {
        margin-right: 3rem;
        margin-top: 3rem;
    }

    .container-lg {
        width: 100%;
    }

    .mainTitle {
        text-align: center;
        font-size: 30px;
    }

    .mainDescription {
        text-align: center;
        font-size: 16px;
    }

    .downloadBtns {
        display: block;
        margin: 4rem auto 0 auto;
        text-align: center;
        font-family: Nunito, sans-serif;
    }

    .downloadBtns a {
        display: block;
        margin: 4rem auto 0 auto;
        text-align: center;
        font-size: 2em;
        width: 150px;
    }

    .downloadBtns img {
        display: block;
        margin: 4rem auto 0 auto;
        width: 27rem;
        height: 8.8rem;
    }

    .middleTitle {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .imgPhone {
        visibility: hidden;
    }

    .spots {
        margin-left: 0;
        margin-top: 0px;
        margin-bottom: 60px !important;
    }

    .shape_ss {
        max-width: 280px;
    }

    .spot {
        width: 100%;
    }

    .spotPhone1,
    .spotPhone2,
    .spotPhone3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }

    .app_ss {
        border-radius: 5px;
        height: auto;
        width: 100%;
    }

    .TitleOne,
    .TitleTwo,
    .TitleThree {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .DescriptionDiv {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 0px;
    }

    .help {
        margin-top: auto;
    }

    .communities {
        margin-top: 5rem;

    }

    .middleDescription {
        text-align: center;
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0px;
    }

    .generatedTable {
        width: 50%;
    }

    .checkmark {
        display: inline-block;
        height: 15px;
        width: 10px;
        border-bottom: 5px solid #78BDD5;
        border-right: 5px solid #78BDD5;
        transform: rotate(45deg);
    }

    #submitButton {
        font-size: 2em;
        padding: 6px 25px;
    }

    .endTitle p {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .endDescription {
        font-size: 3rem;
    }

    .footerBox {
        margin-top: 22rem;
        padding: auto auto auto auto;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 1rem;

    }

    .footerBox p {
        font-weight: bolder;
        font-size: 2rem;
        font-family: Nunito, sans-serif;
    }

    .footerBox p a {
        font-weight: lighter;
        font-size: 3rem;
    }

    .endTitle p {
        font-size: 3rem;
    }

    .footerGet {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footerDescription {
        font-size: 1rem;
    }

    .footer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer .row div {
        margin-bottom: 3.5rem;
    }

    .divIllustration {
        display: none;
    }

    .extraInfo {
        display: none;
    }

    .formrow1 {
        order: 3;
    }

    .mainTitle {
        margin-top: 3rem;
        font-size: 24px;
    }
}

@media(max-width:1000px) {
    .formrow2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .formrow1 {
        order: 1;

    }

}

@media(max-width:600px) {
    .table1 {
        overflow-x: auto;
    }
}

@media(max-width:500px) {
    .help {
        margin-top: 42rem;
    }

    .background {
        background-size: 1500px;
    }

    .mainTitle {
        margin-top: 3rem;
        font-size: 21px;
        line-height: 28px;
    }
}

@media (max-width: 400px) {
    .phone {
        width: 95%;
        height: 35%;
        margin-left: 2%;
    }

    .spots {
        margin-right: 0;
        width: 100%;
    }

    .spotPhone1,
    .spotPhone2,
    .spotPhone3 {
        width: 100%;
        margin-right: 0;
    }

    .footerBox p {
        font-size: 2rem;
    }

    .footerBox p a {
        font-size: 2.4rem;
    }

    .endTitle p {
        font-size: 2.9rem;
    }

    .help {
        margin-top: 30rem;
    }
}

@media(max-width:1600px) {
    /* .middleIllustration {
        padding: 2em;
        width: 50%;
    } */

    .features {
        margin-top: 200px;
    }
}

@media(max-width:1250px) {
    .features {
        margin-top: 260px;
    }

    .middleTitle {
        font-size: 40px;
    }

    .TitleTwo {
        font-size: 29px;
    }

    .TitleOne {
        font-size: 29px;
    }

    .TitleThree {
        font-size: 29px;
    }

    .spots {
        margin-top: 0px;
    }

    .discridiv {
        margin-top: 55px;
    }
}

@media(max-width:768px) {
    .features {
        margin-top: 200px;
    }
}

@media(max-width:600px) {
    .features {
        margin-top: 170px;
    }

    .middleTitle {
        font-size: 28px;
    }

    .TitleTwo {
        font-size: 22px;
    }

    .TitleOne {
        font-size: 22px;
    }

    .TitleThree {
        font-size: 22px;
    }
}