.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.flex-items {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
    order: 0;
    background-color: #f0fbff !important;
    border-radius: 4%;
    margin: 10px;
}

.flex-items-mobile {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
    order: 0;
}

.background {
    background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 105%;
}

.spots {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div.spot,
div#spot1 {
    background-image: url(../assets/images/shapes/shape1_light.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

div#spot2 {
    background-image: url(../assets/images/shapes/shape2_light.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

div#spot3 {
    background-image: url(../assets/images/shapes/shape3_light.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

div#spot4 {
    background-image: url(../assets/images/shapes/shape4_light.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

div#spot5 {
    background-image: url(../assets/images/shapes/shape5_light.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

@media (prefers-color-scheme: dark) {}

@media (max-width: 460px) {
    html {
        font-size: 4px;
    }

    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 125%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 6px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 10px;
    }

    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 200%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 12px;
    }

    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 200%;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 175%;
    }
}

@media (min-width: 1200px) and (max-width: 1239px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 150%;
    }
}

@media (min-width: 1240px) and (max-width: 1399px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 150%;
    }
}

@media (min-width: 1400px) and (max-width: 1509px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 120%;
    }
}


@media (min-width: 1510px) and (max-width: 1600px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 115%;
    }
}

@media (min-width: 1601px) and (max-width: 1799px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 110%;
    }
}

@media (min-width: 1800px) and (max-width: 1919px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 105%;
    }
}

@media (min-width: 1920px) {
    .background {
        background-image: url(../assets/images/shapes/header_mixed_full.svg), url(../assets/images/shapes/footer_mixed_full.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 105%;
    }
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Nunito-Bold;
    src: url(../assets/fonts/Nunito/Nunito-Bold.ttf);
}

@font-face {
    font-family: Nunito-Light;
    src: url(assets/fonts/Nunito/Nunito-Light.ttf);
}

.backgroundDownload {
    background: #2AB2E2;
}


.subscribe {
    border-radius: 10px;
    background: #ffffff;
}

/*ремы*/
.navbar {
    margin-top: 1rem;
    margin-left: 2%;
    display: inline-block;
    width: 30%;
    height: 7.3rem;
}

/*ремы*/
.logo {
    width: 12rem;
    float: left;
}

.logoTitle {
    color: white;
    font-family: Nunito, sans-serif;
    font-weight: 100;
    font-size: 1.7rem;
    float: left;
}

.logoDescription {
    color: white;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 1.25rem;
}

.header {
    margin-left: 8%;
}

.mainTitle {
    margin-top: 5rem;
    line-height: 5rem;
    color: white;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 4.2rem;
}

.mainDescription {
    line-height: 2.8rem;
    color: white;
    font-family: Nunito, sans-serif;
    font-size: 2rem;
}

.imgPhone {
    /* width: 150%;
    height: auto;
    border-radius: 15px; */
    /* box-shadow: 5px 0px 50px 0px rgba(84, 77, 77, 0.15); */
    /* -webkit-box-shadow: 5px 0px 50px 0px rgba(84, 77, 77, 0.15); */
    /* -moz-box-shadow: 5px 0px 50px 0px rgba(84, 77, 77, 0.15); */
    width: 100%;
    height: auto;
    position: absolute;
    right: 60%;
    top: 58px;
    transform: translate(50%, -50%);
    z-index: 100;
}

.downloadBtns {
    margin-top: 4rem;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.downloadBtns a {
    font-size: 2rem;
    padding: 6px 20px;
}

/*ремы*/
.downloadBtns img {
    width: 18rem;
    height: 6.3rem;
}

.middleTitle {
    margin-bottom: 20px;
    color: black;
    font-family: Montserrat-Bold, sans-serif;
    width: 100%;
    font-size: 48px;
}

.communities {
    margin-top: 100px;
    margin-bottom: 100px;
}

.txt2 {
    margin-bottom: 40px;
}

.help {
    margin-top: 10rem;
}

.features {
    margin-top: 240px;
}

.TitleOne {
    color: black;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 35px;
}

.DescriptionOne {
    color: black;
    line-height: 3.6rem;
    font-family: Nunito, sans-serif;
    font-size: 2.5rem;
}

.spotPhone1,
.spotPhone2,
.spotPhone3 {
    width: 100%;
    height: auto;
    position: relative;
}

.DescriptionDiv {}

.TitleTwo {
    color: black;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 35px;
}

.DescriptionBody {
    line-height: 3.6rem;
    color: black;
    font-family: Nunito, sans-serif;
    font-size: 2.5rem;
}

.DescriptionTwo {
    line-height: 3.6rem;
    color: black;
    font-family: Nunito, sans-serif;
    font-size: 2.5rem;
}

.TitleThree {
    color: black;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 35px;
}

.DescriptionThree {
    line-height: 3.6rem;
    color: black;
    font-family: Nunito, sans-serif;
    font-size: 2.5rem;
}

.discridiv {
    margin-top: 100px;
    margin-bottom: 100px;
}

.endDescription {
    color: black;
    line-height: 15.6rem;
    font-family: Nunito, sans-serif;
    font-size: 2.9rem;
}

.endDescription:hover {
    text-decoration: none;
    color: #00BCFF;
}

.middleDescription {
    line-height: 4.4rem;
    color: black;
    font-family: Nunito, sans-serif;
    font-size: 3.3rem;
}

.endTitle {
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 3.5rem;
    line-height: 5rem;
    color: black;
    width: 100%;
}

.middleimgOne {
    margin-top: 20px;
    width: 25rem;
    height: 25.7rem;
}

.middleimgTwo {
    margin-top: 20px;
    width: 27.5rem;
    height: 25.7rem;
}

.middleimgThree {
    margin-top: 20px;
    width: 29.3rem;
    height: 25.7rem;
}

.teletwitter {
    width: 7.5rem;
    height: 7.5rem;
}

.middleIllustration {
    /* max-width: 60%;
    max-height: 60%; */
    width: 200px;
    /* height: 200px; */
    padding-top: 2em;
}

#reserve_now .row {
    max-width: 100%;
    margin: auto;
    align-items: center;
}

.formrow2 {
    text-align: left;
}

.footerBox {
    margin-top: 20rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.footer {
    margin-top: 6.6rem;
    margin-bottom: 8.3rem;
    margin-left: 8%;
}

.footerGet {
    margin-left: 8%;
}

.footer img {
    width: 4.25rem;
    height: 4rem;
}

.footerTitle {
    line-height: 5.8rem;
    color: black;
    font-family: Monteserrat, sans-serif;
    font-size: 3rem;
}

.footerDescription {
    line-height: 2.9rem;
    color: black;
    font-family: Nunito, sans-serif;
    font-size: 2rem;
}

.footerMenuElement {
    line-height: 2.9rem;
    color: black;
    font-family: Nunito, sans-serif;
    font-size: 2rem;
}

.footerMenuElement sup {
    font-size: 1.25rem;
    vertical-align: 0.8rem;
}

.footerMenuElement:hover {
    text-decoration-line: underline;
    color: #000;
}

.formElement {
    font-family: Nunito, sans-serif;
    font-size: medium;
    color: #000;
    width: 100%;
}

.form-group input {
    width: 100%;
}

.formElement:focus {
    box-shadow: 0 5px 5px #78BDD5;
}

.stayrai-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.stayrai-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.stayrai-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.stayrai-dots li button:hover,
.stayrai-dots li button:focus {
    outline: none;
}

.stayrai-dots li button:hover:before,
.stayrai-dots li button:focus:before {
    opacity: 1;
}

.stayrai-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stayrai-dots li.slick-active button:before {
    opacity: .75;
    color: #78BDD5;
}

/* Arrows */
.stayrai-prev,
.stayrai-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.stayrai-prev:hover,
.stayrai-prev:focus,
.stayrai-next:hover,
.stayrai-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.stayrai-prev:hover:before,
.stayrai-prev:focus:before,
.stayrai-next:hover:before,
.stayrai-next:focus:before {
    opacity: 1;
}

.stayrai-prev.slick-disabled:before,
.stayrai-next.slick-disabled:before {
    opacity: .25;
}

.stayrai-prev:before,
.stayrai-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;

    opacity: .75;
    color: #78BDD5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stayrai-prev {
    left: -25px;
}

[dir='rtl'] .stayrai-prev {
    right: -25px;
    left: auto;
}

.stayrai-prev:before {
    content: '←';
}

[dir='rtl'] .stayrai-prev:before {
    content: '→';
}

.stayrai-next {
    right: -25px;
}

[dir='rtl'] .stayrai-next {
    right: auto;
    left: -25px;
}

.stayrai-next:before {
    content: '→';
}

[dir='rtl'] .stayrai-next:before {
    content: '←';
}

html {
    scroll-behavior: smooth;
}

table.GeneratedTable {
    text-align: center;
    vertical-align: middle;
    width: 320px;
    /* background-color: #ffffff; */
    border-collapse: collapse;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    color: #000000;
    font-size: 1.75rem;
}

table.GeneratedTable td,
table.GeneratedTable th {
    padding: 5px;
    text-align: center;
}

#submitButton {
    font-size: 2rem;
    padding: 6px 20px;
}

.app_ss {
    border-radius: 10px;
    width: 50%;
    height: 50%;
    max-width: 50%;
    max-height: 50%;
}

.shape_ss {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.pricing-table {
    --pricing-table-color: #78BDD5;
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    grid-gap: 2em;
    margin: 0 auto;
    padding: 1;
    list-style-type: none;
}

.pricing-table__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 1em;
    border-radius: 1.5em;
    border-color: #000;
    transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
    margin: 20px;
    list-style-position: inside;
    border: 0.5px solid rgb(212, 212, 212);
}

.pricing-table__item li button:before {
    color: red;
}

.pricing-table__item:hover {
    box-shadow: 0 10px 10px #78BDD5;
}

.pricing-table__item--popular {
    position: relative;
}

.pricing-table__item--popular::before {
    position: absolute;
    content: attr(data-popular);
    top: 2em;
    right: 2em;
    font-size: 0.9em;
    padding: 0 1em;
    background-color: #ffd900;
    border-radius: 1em;
    color: #282824;
}

.pricing-table__img {
    margin: 25px auto 0em;
    /* width: 170px;
    height: 100%; */
    /* max-width: 50%; */
    max-height: 180px;
}

.pricing-table__title {
    margin: 0;
    font-size: 2em;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    color: #78BDD5;
    background: -webkit-linear-gradient(#EBFAFF, #78BDD5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pricing-table__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-family: Nunito, sans-serif;
}

.pricing-table__tagline {
    margin: 0;
    font-size: medium;
    color: #000;
    text-align: center;
    font-family: Nunito, sans-serif;
}

.pricing-table__price {
    color: var(--pricing-table-color);
    font-size: 1.8em;
    margin: 1em auto 0;
    font-weight: bold;
}

.pricing-table__label {
    margin: 0;
    color: #9ea0a3;
    font-size: 0.9em;
}

.pricing-table__save {
    color: #4cae4f;
    font-weight: bold;
}

.pricing-table__products {
    margin: 1.87em 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;

}

.pricing-table__product {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.pricing-table__product a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
}

.pricing-table__product a:hover {
    color: var(--pricing-table-color);
}

.pricing-table__product::before {
    content: " ";
    width: 0.5em;
    height: 0.5em;
    -webkit-margin-end: 1em;
    margin-inline-end: 1em;
    border-radius: 50%;
    background-color: var(--pricing-table-color);
}

.pricing-table__product--excluded::before {
    content: " ";
    width: 0.5em;
    height: 0.5em;
    -webkit-margin-end: 1em;
    margin-inline-end: 1em;
    border-radius: 0;
    color: red;
    background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20' id='entypo-cross' width='32' height='32' fill='hsl(4, 90%, 58%)'%3E%3Cg%3E%3Cpath d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z'/%3E%3C/g%3E%3C/svg%3E") center/contain;
    transform: scale(2.5);
}

.pricing-table__button {
    /* background: var(--pricing-table-color);
    color: #fff;
    margin-top: auto;
    padding: 1em 2em;
    text-decoration: none;
    width: 100%;
    border-radius: 1.87em;
    text-align: center;
    transition: background 0.2s ease-in-out;
    text-transform: capitalize; */
    font-family: Nunito, sans-serif;
    font-size: 2rem;
    padding: 6px 20px
}

/* .pricing-table__button:hover {
    background-color: #EBFAFF;
} */

.pricing-table__checkbox {
    background-color: red;
}

.pricing-table__feature {
    color: black;
}

input[type="checkbox"]:disabled {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border: 0.05em solid #78BDD5;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

}

.checkmark {
    display: inline-block;
    height: 30px;
    width: 15px;
    border-bottom: 5px solid #78BDD5;
    border-right: 5px solid #78BDD5;
    transform: rotate(45deg);
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border: 0.05em solid #78BDD5;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.hEKdsk.section-9,
.hEKdsk.section-8,
.hEKdsk.section-7 {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.hEKdsk .section-images {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: center;
}

.cyIwMS {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.footer-text {
    text-align: center;
    /* color: #868e96; */
    font-weight: bold;
    font-size: large;
    font-family: Nunito, sans-serif;
}

@media screen and (max-width: 1024px) {
    .cyIwMS .team-member-img {
        width: 224px;
        height: 224px;
    }
}

@media screen and (max-width: 1280px) {
    .cyIwMS .team-member-img {
        width: 185px;
        height: 185px;
    }
}

.cyIwMS .team-member-img {
    width: 199px;
    height: 199px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), url(../assets/images/team/224.png);
    border-radius: 16px;
}

.cyIwMS .team-member-name {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-black);
    margin-top: 8px;
    margin-bottom: 4px;
}

.cyIwMS .team-member-title {
    max-width: 180px;
    font-weight: normal;
    font-size: 12px;
    color: rgb(125, 125, 125);
}

.cyIwMS .team-member-social {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 48px;
    left: 12px;
}

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #E4405F;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #0077b5;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #000;
}

#stayrai-form {
    max-width: 300px;
    margin: auto;
    text-align: center;

}